/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

@charset "utf-8";

* { margin: 0; padding: 0; }
body { font: 14px/2 Georgia, serif; background: #ccc; }

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

#page-wrap { margin: 60px auto; width: 460px; padding: 20px; background: #eee; }

h2 { font: 24px Georgia; margin: 0 0 10px 0; }
h3 { margin: 0 0 8px 0; }
p { margin: 0 0 20px 0; }

#popouts {
  width: 200px;
  list-style: none;
  position: relative;
  margin: 0 0 50px 0;
}

#popouts a {
  display: block;
  background: white;
  position: relative;
  color: white;
  text-decoration: none;
  padding: 20px;
  -webkit-transition: all 0.1s ease-out;
}

#popouts a:hover {
  left: -5px;
}

#popouts li:nth-child(1) a { background: hsla(185,20%,40%,1); }
#popouts li:nth-child(2) a { background: hsla(185,20%,45%,1); }
#popouts li:nth-child(3) a { background: hsla(185,20%,50%,1); }

#popouts a:hover:after { 
  content: " Email \21D2 " " " attr(data-email);
  background: transparent;
  position: absolute;
  left: 100%;
  top: 15px;
  vertical-align: middle;
  padding: 5px;
  background: hsla(185,20%,30%,1);
  white-space: nowrap;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
}

#flyouts {
  list-style: none;
  width: 200px;
  position: relative;
  margin: 0 0 40px 0; 
}

#flyouts li {
  position: relative; 
  width: 100%;
}

#flyouts li span {
  position: relative;
  padding: 20px;
  display: block;
  z-index: 20; 
  background: white; 
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.1s ease;
}

#flyouts li:nth-child(1) span { background: hsla(185,20%,40%,1); }
#flyouts li:nth-child(2) span { background: hsla(185,20%,45%,1); }
#flyouts li:nth-child(3) span { background: hsla(185,20%,50%,1); }

#flyouts li a {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  z-index: 10;
  text-decoration: none; 
  -webkit-transition: margin 0.2s ease;
  padding: 5px;
  background: hsla(185,20%,30%,1);
  top: 15px;
  color: white;
  white-space: nowrap;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
}

#flyouts li span:hover {
  left: -5px;
}

#flyouts li:hover a {
  margin: 0 0 0 195px;
}

#fluid-wrap {
  width: 70%; 
  margin: 0 auto 60px;
  padding: 20px;
  background: #eee;
  overflow: hidden;
}

a {
  color: #900;
  text-decoration: none;
}

a:hover {
  color: red;
  position: relative;
}

@-webkit-keyframes superfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


a[title]:hover:after {
  content: attr(title);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  left: 0; 
  top: 100%;
  white-space: nowrap; 
  z-index: 20px;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;  
  border-radius: 5px;  
  -moz-box-shadow: 0px 0px 4px #222;  
  -webkit-box-shadow: 0px 0px 4px #222;  
  box-shadow: 0px 0px 4px #222;  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  -webkit-animation-name: superfadein;
  -webkit-animation-duration: 2s;
}



